.img-cover {
  object-fit: cover;
}

.bg-cover {
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-attachment-fixed {
  background-attachment: fixed;
}

.full-height {
  min-height: 100vh;
}

.text-hover {
  transition: all 0.5 ease;
  color: white;
  &:hover {
    color: darken($color: $primary, $amount: 10%);
    cursor: pointer;
  }
}

.icon-hover {
  transition: all 0.5 ease;
  color: gray;
  &:hover {
    color: darken($color: $primary, $amount: 10%);
    cursor: pointer;
  }
}

.xy-flip {
  transform: scale(-1, -1);
}

.round-10 {
  border-radius: 10%;
}

.start-rem-1 {
  left: 0.5rem;
}
.top-rem-1 {
  top: 0.5rem;
}
.img-hover-enlarge {
  transition: all 0.5 ease;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.btn-hover-light:hover {
  color: white;
}

.navbar-hover:hover {
  border-bottom: 2px solid pink;
  /* background-color: pink; */
}

.router-link-exact-active {
  border-bottom: 2px solid pink;
  transition: all 0.3;
}

.navbar-active {
  border-bottom: 2px solid pink;
  /* background-color: pink; */
}

.banner-text-position {
  position: absolute;
  top: 30%;
  left: 2%;

  @include media-breakpoint-up(md) {
    left: 10%;
  }
}

.hover-shadow {
  &:hover {
    box-shadow: 2px 3px 5px rgba(226, 222, 222, 0.5);
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(226, 222, 222, 0.5);
  }
}

.ratio-4x3 {
  @include media-breakpoint-up(md) {
    --bs-aspect-ratio: calc(9 / 16 * 100%); // 16x9
  }
}

.truncate {
  @include media-breakpoint-up(md) {
    white-space: nowrap; /* 避免文字換行 */
    overflow: hidden; /* 隱藏超出範圍的文字 */
    text-overflow: ellipsis; /* 用省略號表示被截斷的文字 */
  }
}
