.img-cover {
  object-fit: cover;
}

.bg-cover {
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-attachment-fixed {
  background-attachment: fixed;
}

.full-height {
  min-height: 100vh;
}

.text-hover {
  transition: all 0.5 ease;
  color: white;
  &:hover {
    color: darken($color: $primary, $amount: 10%);
    cursor: pointer;
  }
}

.icon-hover {
  transition: all 0.5 ease;
  color: gray;
  &:hover {
    color: darken($color: $primary, $amount: 10%);
    cursor: pointer;
  }
}

.xy-flip {
  transform: scale(-1, -1);
}

.round-10 {
  border-radius: 10%;
}

.start-rem-1 {
  left: 0.5rem;
}
.top-rem-1 {
  top: 0.5rem;
}
.img-hover-enlarge {
  transition: all 0.5 ease;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.btn-hover-light:hover {
  color: white;
}

.navbar-hover:hover {
  border-bottom: 2px solid pink;
  /* background-color: pink; */
}

.router-link-exact-active {
  border-bottom: 2px solid pink;
  transition: all 0.3;
}

.navbar-active {
  border-bottom: 2px solid pink;
  /* background-color: pink; */
}

.banner-text-position {
  position: absolute;
  top: 30%;
  left: 2%;

  @include media-breakpoint-up(md) {
    left: 10%;
  }
}

.hover-shadow {
  &:hover {
    box-shadow: 2px 3px 5px rgba(226, 222, 222, 0.5);
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(226, 222, 222, 0.5);
  }
}

.ratio-4x3 {
  @include media-breakpoint-up(md) {
    --bs-aspect-ratio: calc(9 / 16 * 100%); // 16x9
  }
}

.truncate {
  @include media-breakpoint-up(md) {
    white-space: nowrap; /* 避免文字換行 */
    overflow: hidden; /* 隱藏超出範圍的文字 */
    text-overflow: ellipsis; /* 用省略號表示被截斷的文字 */
  }
}

.text-hover-bg-secondary {
  transition: background-color 1s ease;
  &:hover {
    // display: inline;
    background-color: rgb(228, 200, 148);
  }
}

.hover-bg-primary {
  background-color: white;
  color: $primary;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $primary;
    color: white;
    transform: rotate(5deg);
  }
}

.link-style {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, transparent),
    color-stop(50%, #dad8c3)
  );
  background-image: linear-gradient(transparent 50%, #dad8c3 0);
  background-repeat: no-repeat;
  background-size: 0 100%;
  border: none !important;
  text-decoration: none;
  -webkit-transition: background-size 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-size 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: background-size;
  &:hover {
    background-size: 100% 125%;
    -webkit-text-decoration-color: rgba(100, 97, 63, 0);
    text-decoration-color: rgba(100, 97, 63, 0);
  }
}
